/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-nov-2017, 12:08:56
    Author     : gerard
*/

::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

.colums{
    width:80%;
    margin-left:10px;
    margin-right: 10px;
    height: 60%
}
.colum-left{
    width:25%;
    background-color: #E13300;
    float: left;
}
.colum-right{
    width:75%;
    background-color: #D0D0D0;
    float: right;
}
.header{
    height: 20%;
}
.body{
    height: auto;
}
.footer{
    height: 20%;
}
.veld span{
    width: 100%;
    display:block;
}
.label{
    width: 150px;
    display:inline-block;
}
.veld{

}

.input_box{
    width: 50%;
}
optgroup::before{
    display:none;
}